ion-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  /* Evitar que el contenido adicional se muestre fuera del ion-content */
}

.bienvenida-container {
  position: relative;
  text-align: center;
  margin-top: -20px;
}

.bienvenida-container img {
  opacity: 0.3;
  color: transparent;
  position: absolute;
  top: 0px;
  left: 20;
  width: 100%;
  height: 50px; /* Permitir que la altura se ajuste automáticamente */
  max-height: 400px; /* Establecer una altura máxima si es necesario */
  margin-bottom: 20px;
}


.bienvenida-title {
  position: relative;
  font-size: 50px;
  margin-bottom: 10px;
  color: white;
  /* Asegura que el texto sea visible sobre la imagen */
}

.bienvenida-container p {
  position: relative;
  display: flex;
  font-size: 20px;
  width: 200px;
  margin-bottom: 100px;
  margin-left: 25%;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  /* Asegura que el texto sea visible sobre la imagen */
}

.alumnos-button,
.profesores-button,
.crearCuenta-button {
  position: relative;
  display: flex;
  width: 180px;
  height: 70px;
  margin-bottom: 50px;
  margin-left: 25%;
  align-items: center;
  justify-content: center;
}
