<ion-content>
  <!-- Contenedor del logo de la aplicación -->
  <div class="logo-container">
    <img src="descarga.png" alt="Logo de la aplicación">
  </div>

  <!-- Contenedor de bienvenida y opciones -->
  <div class="bienvenida-container">
    <!-- Título de bienvenida -->
    <h1 class="bienvenida-title">¡Bienvenido!</h1>

    <!-- Texto descriptivo -->
    <p>Selecciona una opción:</p>

    <!-- Botón para seleccionar la opción de Alumnos -->
    <ion-button (click)="selectAlumnos()" class="alumnos-button">Alumnos</ion-button>

    <!-- Botón para seleccionar la opción de Profesores -->
    <ion-button (click)="selectProfesores()" class="profesores-button">Profesores</ion-button>
  </div>
</ion-content>
