<ion-header>
  <ion-toolbar>
    <ion-title fill="clear">
      Recuperar Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 expand="full">Restablecer contraseña</h1>
  <ion-item id="Nick" fill="clear" color="black">
    <h2> La nueva contraseña sera enviada a tu correo </h2>
    <ion-label position="floating">Ingresa tu Correo</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item id="Pass" fill="clear" color="black">
    <ion-label position="floating">Repetir Correo Electronico</ion-label>
    <ion-input type="correo"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="goToLoginPage()" id="Login" fill="clear" color="">Enviar</ion-button>

  <ion-button expand="full" (click)="goToLoginPage()"id="Login" fill="clear" color="">Volver</ion-button>
</ion-content>

