<ion-content>
  <div class="logo-container">
    <img src="https://pbs.twimg.com/profile_images/1273019238282866689/yEn2L7ny_400x400.jpg" alt="Logo de la aplicación">
  </div>

  <div class="bienvenida-container">
    <h1 class="bienvenida-title">¡Bienvenido!</h1>
    <p>Ingrese sus datos:</p>

    <form [formGroup]="credentials">
      <ion-item id="Nick" fill="clear" color="black">
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="text" formControlName="email" placeholder="Ingrese su correo"></ion-input>
      </ion-item>

      <ion-item id="Nick" fill="clear" color="black">
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input type="text" formControlName="nombreCom" placeholder="Ingrese Nombre Completo"></ion-input>
      </ion-item>

      <ion-item id="Nick" fill="clear" color="black">
        <ion-label position="floating">Contacto</ion-label>
        <ion-input type="number" formControlName="fono" placeholder="Ingrese Contacto"></ion-input>
      </ion-item>

      <ion-item id="Pass" fill="clear" color="black">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" placeholder="Ingresa contraseña"></ion-input>
      </ion-item>

      <ion-item id="Tipo" lines="full" color="black">
        <ion-label>Tipo de cuenta</ion-label>
        <ion-select formControlName="tipoCuenta">
          <ion-select-option value="alumno">Alumno</ion-select-option>
          <ion-select-option value="profesor">Profesor</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="registrar()" class="registrar">Registrar</ion-button>
    </form>
  </div>
</ion-content>