<ion-header>
  <ion-toolbar>
    <ion-title fill="clear">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-container">
  <h1 expand="full">RegistrAPP</h1>
  <ion-img
    src="https://pbs.twimg.com/profile_images/1273019238282866689/yEn2L7ny_400x400.jpg"
    alt="Fondoduoc"
    id="Fondo"
  ></ion-img>

  <ion-item id="Nick" fill="clear" color="black">
    <ion-label position="floating">Correo </ion-label>
    <ion-input type="text" [(ngModel)]="email" placeholder="Ingrese su correo"></ion-input>
  </ion-item>

  <ion-item id="Pass" fill="clear" color="black">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" placeholder="Ingrese su clave"></ion-input>
  </ion-item>

  <!-- Botón para iniciar sesión -->
  <ion-button (click)="login()" class="iniciar-button">Iniciar</ion-button>

  <!-- Botón para recuperar contraseña -->
  <ion-button (click)="recuperar()" class="recuperar-button">Recuperar Contraseña</ion-button>

  <!-- Botón para crear cuenta -->
  <!-- Descomenta este botón si implementas la función correspondiente en tu componente TypeScript -->
  <!-- <ion-button (click)="crearCuenta()" class="crear-button">Crear Cuenta</ion-button> -->
  <ion-app>
    <ion-router-outlet></ion-router-outlet>
  </ion-app>
  
</ion-content>
