<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="openMiPerfil()">
        Mi Perfil
      </ion-item>
      <br>
      <ion-item (click)="openMisRegistros()">
        Mis Registros
      </ion-item>
      <br>
      <ion-item (click)="cerrarSesion()">
        Cerrar Sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <ion-item>
      <img src="https://pbs.twimg.com/profile_images/1273019238282866689/yEn2L7ny_400x400.jpg" alt="Logo de la aplicación">
    </ion-item>

    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="floating">ID de Clase</ion-label>
        <ion-input [(ngModel)]="idClase" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Ingresa Sección</ion-label>
        <ion-input [(ngModel)]="ingresaSeccion" type="text"></ion-input>
      </ion-item>
    
      <ion-button (click)="registrarse()">Registrar Asistencia</ion-button>
    </ion-content>
  </ion-content>
</div>