<!-- login.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Contenido de la pantalla principal -->
  <h2>Bienvenido a RegistrAPP</h2>
  <p>Recuerda marcar tu asistencia registrando el ID proporcionado por tu profesor y la sección</p>
  <img src="https://pbs.twimg.com/profile_images/1273019238282866689/yEn2L7ny_400x400.jpg" alt="Imagen principal">

  <!-- Campos para ingresar ID y Sección -->
  <ion-item fill="clear" color="black">
    <ion-label position="floating">ID clase</ion-label>
    <ion-input type="text" [(ngModel)]="id" placeholder="Ej: 12345678A"></ion-input>
  </ion-item>

  <ion-item fill="clear" color="black">
    <ion-label position="floating">Ingresa Sección</ion-label>
    <ion-input type="text" [(ngModel)]="seccion" placeholder="Ej: PY7458-004V"></ion-input>
  </ion-item>

  <!-- Botón para guardar registro -->
  <ion-button (click)="registro()" class="registrar-button">Registrar</ion-button>

  <!-- También puedes incluir el router-outlet para cargar componentes dinámicamente -->
  <ion-router-outlet></ion-router-outlet>
</ion-content>
