#main-content {
  ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    margin-top: 10px; /* Ajusta el margen según tus necesidades */
  }

  ion-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-input {
    max-width: 80%; /* Ajusta el ancho según tus necesidades */
  }


  
  .profile-picture {
    border-radius: 50%;
    border: 4px solid white; /* Ajusta el ancho y color img */
  }
  .Registrar-button{
    width: 160px; /* Ancho de los botones (ajusta según necesidades) */
    margin: 10px auto; /* Centra los botones horizontalmente y agrega un pequeño margen */
    display: block; /* Asegura que los botones estén en una línea */
  }
}