#main-content {
  ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    margin-top: 10px;
  }

  ion-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-input {
    max-width: 80%;
  }


  
  .profile-picture {
    border-radius: 50%;
    border: 4px solid white;
  }
  .Registrar-button{
    width: 160px;
    margin: 10px auto;
    display: block;
  }
}